[Unit]
Description=Symmetria File Manager IPC Service

[Service]
ExecStartPre=/usr/bin/rm -rf %h/.cache/quickshell/qmlcache
ExecStart=/usr/bin/qs -c symmetria-fm
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
