[Unit]
Description=Symmetria File Manager IPC Service

[Service]
ExecStart=/usr/bin/symmetria-fm
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
