[Unit]
Description=Symmetria File Manager IPC Service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStartPre=/usr/bin/rm -rf %h/.cache/quickshell/qmlcache
ExecStart=/usr/bin/qs -c symmetria-fm
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
